@import "../../global.scss";

.carta {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: $whiteColor;
  margin-top: 80px;

  h2 {
    margin-bottom: 20px;
    color: $lineColor;
  }

  .platosContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;

    .plato {
      background-color: #f5f5f5;  // Un gris claro o un tono beige cálido
      border-radius: 8px;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);  // Sombra más suave para mayor profundidad
      padding: 15px;
      width: 250px;
      text-align: center;
      transition: transform 0.3s ease-in-out;  // Añadir una animación sutil al pasar el mouse
  

      img {
        max-width: 100%;
        max-height: 200px;
        border-radius: 8px;
      }

      h3 {
        color: $lineColor;
      }

      .precio {
        color: $secondaryColor;
        font-weight: bold;
      }

      a {
        display: inline-block;
        margin-top: 10px;
        background-color: $accentColor;
        color: $whiteColor;
        padding: 10px 15px;
        text-decoration: none;
        border-radius: 5px;

        &:hover {
          transform: translateY(-10px);  // Efecto hover para mejorar la interacción visual
        }
      }
    }
  }

  .space {
    height: 300px;
   
  }
}
