@import "../../global.scss";

.intro {
  background-color: $mainColor;
  display: flex;

  @include mobile {
    flex-direction: column;
    align-items: center;
  }

  .left {
    flex: 0.5;
    overflow: hidden;
    .imgContainer {
      width: 600px;
      height: 600px;
      background-color: $mainColor;
      border-radius: 60%;
      display: flex;
      align-items: flex-start;
      justify-content: center;
      float: right;
      margin-top: 10px;

      @include mobile {
        width: 300px;
        height: 300px;
        align-items: flex-start;
        border-radius: 50%;
      }

      img {
        height: 95%;
      }
    }
  }

  .right {
    flex: 0.5;
    position: relative;

    .weapper {
      width: 90%;
      height: 100%;
      padding-left: 50px;
      display: flex;
      flex-direction: column;
      justify-content: center;

      @include mobile {
        padding-left: 35px;
        align-items: center;
        justify-content: flex-start;
      }

      h1 {
        font-size: 30px;
        margin: 10px 0;
        color: $whiteColor;

        @include mobile {
          font-size: 20px;
        }
      }

      h2 {
        font-size: 55px;
        color: $highlightColor;

        @include mobile {
          font-size: 30px;
        }
      }

      h3 {
        font-size: 30px;
        color: $secondaryColor;

        @include mobile {
          font-size: 20px;
        }

        span {
          font-size: inherit;
          color: $secondaryColor;
        }

        .ityped-cursor {
          animation: blink 1s infinite;
        }

        @keyframes blink {
          50% {
            opacity: 1;
          }
          100% {
            opacity: 0;
          }
        }
      }
    }

    a {
      position: absolute;
      bottom: 60px;
      left: 40%;
      img {
        width: 60px;
        animation: arrowBlink 2s infinite;
      }

      @keyframes arrowBlink {
        80% {
          opacity: 20%;
        }
      }

      @include mobile {
        position: absolute;
        left: 45%;
      }
    }
  }
}
