@import "../../global.scss";

.intro {
  background-color:$TercerColor;
  display: flex;

  @include mobile {
    flex-direction: column;
    align-items: center;
  }

  .left {
    flex: 0.5;
    overflow: hidden;
    .imgContainer {
      width: 700px;
      height: 700px;
      background-color: $TercerColor;
      border-radius: 60%;
      display: flex;
      align-items: flex-start;
      justify-content: center;
      float: right;
      margin-top: 10px;

      @include mobile {
        width: 300px;
        height: 300px;
        align-items: flex-start;
        border-radius: 50%;
      }
      img {
        height: 95%;
        @include mobile {
          height: 95%;
        }
      }
    }
  }
  .right {
    flex: 0.5;
    position: relative;
    .weapper {
      width: 90%;
      height: 100%;
      padding-left: 50px;
      display: flex;
      flex-direction: column;
      justify-content: center;

      @include mobile {
        padding-left: 0;
        align-items: center;
      }

      h1 {
        font-size: 60px;
        margin: 10px 0;
        color: #fff;

        @include mobile {
          font-size: 40px;
        }
      }
      h2 {
        font-size: 35px;
        color: #ffd100;
      }
      h3 {
        font-size: 30px;
        @include mobile {
          font-size: 20px;
        }

        span {
          font-size: inherit;
          color: #dd052b;
        }
        .ityped-cursor {
          animation: blink 1s infinite;
        }
        @keyframes blink {
          50% {
            opacity: 1;
          }
          100% {
            opacity: 0;
          }
        }
      }
    }
    a {
      position: absolute;
      bottom: 10px;
      left: 40%;
      img {
        width: 30px;
        animation: arrowBlink 2s infinite;
      }

      @keyframes arrowBlink {
        80% {
          opacity: 50%;
        }
      }
    }
  }
}
