@import "../../global.scss";
.footer {
  width: 100%;
  background-color: #1d1d1b;  // Color base más oscuro para que resalte el logo y el texto
  color: $whiteColor;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  flex-wrap: wrap;
  margin-top: 20px;
}


.footer-section {
  margin: 10px;

  h4 {
    margin-bottom: 10px;
  }

  p, a {
    font-size: 14px;
    color: $whiteColor;
  }

  a {
    text-decoration: underline;
  }

  .footer-logo {
    width: 120px;  // Un poco más grande para mejorar la visibilidad
    margin-bottom: 10px;
  }
}
