.App {
  display: flex;
  flex-direction: column;
  background-color: #c57fff;

  .sections {
    flex-grow: 1;
    overflow-y: auto;
    margin: 0;

    & > *:first-child {
      height: 100vh; // La primera sección ocupa toda la pantalla inicialmente
      position: sticky; // Hacemos que la primera sección sea "pegajosa"
      top: 0; // Se quedará pegada a la parte superior cuando el scroll llegue a ella
      z-index: 10; // Aseguramos que esta sección esté por encima de las siguientes
    }
  }
}
