.App {
  height: 100vh;
  background-color:rgb(197, 127, 255);
  .sections {
    width: 100%;
    height: calc(100vh - 45px);
    overflow-y: auto; // Permite desplazamiento vertical.
    overflow-x: hidden; // Asegura que no haya desplazamiento horizontal.
    background-color: #2f49be;
    position: relative;
    top: 45px;
  
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    scrollbar-width: none; // Oculta el scrollbar en Firefox.
    &::-webkit-scrollbar {
      display: none; // Oculta el scrollbar en navegadores basados en WebKit.
    }
  
    > * {
      width: 100%;
      height: calc(100vh - 45px); // Consistencia en las dimensiones.
      scroll-snap-align: start;
    }
  }
}
