$mainColor: #141212;
$SecondColor: #E30613;
$TercerColor: #0e0d0d;
$FourColor:#FFD100;
$LineColor: #6e2929;
$TitleColor:#296e3a;

$YellowColor:#FFD100;
$RedColor: #E30613;

$width: 768px;

@mixin mobile {
  @media (max-width: #{$width}) {
    @content;
  }
}
