$mainColor: #141212;
$SecondColor: #E30613;
$SecondColorB: #79040ee3;
$TercerColor: #0e0e0d;
$FourColor:#ffd000d2;
$LineColor: #303030;
$TitleColor:#b6b6b6;
$TonoBlanco:#ffffff;
$Tonomorado:#61c9a8bd;

$YellowColor:#e06c00b9;
$GreenColor:#beff26d3;
$RedColor: #e64c57;

$width: 768px;

@mixin mobile {
  @media (max-width: #{$width}) {
    @content;
  }
}
